<div class="modal fade" ng-controller="AddFirstUserController as $ctrl">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
				<p><strong>No users exist in the database. Add the first admin user:</strong></p>
               <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
              <p class="labe"><strong>Username: </strong><input class="modalInput" type="text" ng-model="$ctrl.username" required /></p>
              <p class="labe"><strong>First Name: </strong><input class="modalInput" type="text" ng-model="$ctrl.firstName" required /></p>
              <p class="labe"><strong>Last Name: </strong><input class="modalInput" type="text" ng-model="$ctrl.lastName" required /></p>
              <p class="labe"><strong>Email: </strong><input class="modalInput" type="text" ng-model="$ctrl.email"/></p>
              <p class="labe"><strong>Password: </strong><input class="modalInput" type="password" ng-model="$ctrl.password1"/></p>
              <p class="labe"><strong>Confirm password: </strong><input class="modalInput" type="password" ng-model="$ctrl.password2"/></p>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-block submit" ng-click="$ctrl.addUser()">Submit</button>
            </div>
    </div>
  </div>
</div>
