<div class="modal fade" ng-controller="UnfollowThreatController as $ctrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h6 class="modalMessage">Are you sure you want to unfollow this threat?</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" ng-click="$ctrl.confirmDelete()">Yes</button>
                <button type="button" class="btn" ng-click="close()" data-dismiss="modal" aria-hidden="true">No</button>
            </div>
        </div>
    </div>
</div>