<!--Template for the threat detail page -->
<div class=threatDetailHead ng-hide="!vm.canEdit">
<div class=threatDetailLabels>
<h3 class="threatTitle">{{vm.title}}</h3>
<p class="threatLink"><strong>Link: </strong><a target="_blank" href={{vm.link}}>{{vm.link}}</a></p>
<p class="threatDesc"><strong>Description: </strong>{{vm.desc || "No Description"}}</p>
<p class="threatDesc"><strong>Affected Ontology: </strong>{{vm.productName}}</p>
<p class="threatDate"><strong>Date Added:</strong> {{vm.date}}</p>
</div>
<div class="ThreatDetailOptions">
  <p class="ThreatDetailCategory"><strong>Owner: </strong>
    <a href="#" class="threatOptionSelect" editable-select="vm.selectedOwner"
      e-ng-options="opt.Name for opt in vm.owners track by opt.ID" onaftersave="vm.updateOwner()" buttons="no">{{vm.selectedOwner.Name ||vm.owner}}
    </a>
  </p>
  <p class="ThreatDetailCategory"><strong>Status: </strong>
    <a href="#" class="threatOptionSelect" editable-select="vm.selectedStatus"
      e-ng-options="opt for opt in vm.statuses" onaftersave="vm.updateStatus()" buttons="no">{{vm.selectedStatus ||vm.status || "No Status"}}
    </a>
  </p>
  <p class="ThreatDetailCategory"><strong>Severity: </strong>
    <a href="#" class="threatOptionSelect" editable-select="vm.selectedRating"
      e-ng-options="opt for opt in vm.ratings" onaftersave="vm.updateRating()" buttons="no">{{vm.selectedRating ||vm.threat_rating || "No Rating"}}
    </a>
  </p>
  <p class="ThreatDetailCategory"><strong>Threat Category: </strong>
    <a class="threatOptionSelect" href="#" editable-select="vm.selectedThreatCategory"
    e-style="border-bottom:none !important;"  e-ng-options="opt.Name for opt in vm.threatCategories track by opt.ID" onaftersave="vm.updateCategory()" buttons="no">{{vm.selectedThreatCategory.Name ||vm.categoryName}}
    </a>
  </p>
  <p class="ThreatDetailCategory"><strong>Adversary Type: </strong>
    <a href="#"class="threatOptionSelect" editable-select="vm.selectedAdversary"
      e-ng-options="opt.Name for opt in vm.adversaries track by opt.ID" onaftersave="vm.updateAdversary()" buttons="no">{{vm.selectedAdversary.Name ||vm.adversaryName}}
    </a>
  </p>
  <p><strong>Notes: </strong></p>
    <a href="#" class="threatNotes" e-style="width:400px; height:100px;"onaftersave="vm.updateNote()" editable-textarea="vm.notes" >{{vm.note || vm.notes || "No Notes"}}</a>
  <p class="ThreatEditor"><strong style="color:black">Last Edited By:</strong> {{vm.editor || "None"}}</p>
    <button class="ThreatWatchlistButton" ng-click="vm.saveThreat()">
        <strong>Add to Watchlist</strong> <i class="icon glyphicon glyphicon-eye-open fa-fw"></i>
    </button>
</div>
</div>

<!-- Base View -->
<div class=threatDetailHead ng-hide="vm.canEdit">
<div class=threatDetailLabels>
<h3 class="threatTitle">{{vm.title}}</h3>
<p class="threatLink"><strong>Link: </strong><a target="_blank" href={{vm.link}}>{{vm.link}}</a></p>
<p class="threatDesc"><strong>Description: </strong>{{vm.desc || "No Description"}}</p>
<p class="threatDesc"><strong>Affected Ontology: </strong>{{vm.productName}}</p>
<p class="threatDate"><strong>Date Added:</strong> {{vm.date}}</p>
</div>
<div class="ThreatDetailOptions">
  <p class="ThreatDetailCategory"><strong>Owner: </strong>{{vm.owner}}</p>
  <p class="ThreatDetailCategory"><strong>Status: </strong>{{vm.status || "New"}}</p>
  <p class="ThreatDetailCategory"><strong>Severity: </strong>{{vm.threat_rating || "No Rating"}}</p>
  <p class="ThreatDetailCategory"><strong>Threat Category: </strong>{{vm.categoryName}}</p>
  <p class="ThreatDetailCategory"><strong>Adversary Type: </strong>{{vm.adversaryName}}</p>
  <p><strong>Notes: </strong>{{ vm.notes || "No Notes"}}</p>
  <p class="ThreatEditorBase"><strong style="color:black">Last Edited By:</strong> {{vm.editor || "None"}}</p>
  <button ng-hide="!vm.canEdit" class="ThreatWatchlistButton" ng-click="vm.saveThreat()">
      <strong>Add to Watchlist</strong> <i class="icon glyphicon glyphicon-eye-open fa-fw"></i>
  </button>
</div>
</div>

<div class="tableTitle">
  <h5 class=affectedProductsTitle><strong>Potentially Affected Ontologies</strong></h5>
  <button ng-hide="!vm.canEdit" class="deleteDetailDelete" ng-click="vm.deleteThreatModal()">
    <strong>Delete Threat</strong> <i class="icon glyphicon glyphicon-trash fa-fw"></i>
  </button>
  <button ng-hide="vm.canEdit" class="deleteDetailDelete" ng-click="vm.saveThreat()">
      <strong>Add to Watchlist</strong> <i class="icon glyphicon glyphicon-eye-open fa-fw"></i>
  </button>
</div>
<table st-table="vm.displayedCollection" st-safe-src="vm.rowCollection" class="table table-striped main">
      <thead>
        <tr>
          <th colspan="9"><input st-search="" st-select-mode="multiple" class="form-control" placeholder="search ..." type="text"/></th>
        </tr>
			<tr>
				<th st-sort="Name">Ontology <i class="icon glyphicon glyphicon-sort fa-fw"></i></th>
				<th st-sort="Description">Description</th>
        <th st-sort="Category"></th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="row in vm.displayedCollection">
				<td><a ng-href="/ontologies/{{row.ID}}">{{row.Name}}</a></td>
				<td>{{row.Desc}}</td>
        <td></td>

			</tr>
			</tbody>
      <tfoot>
        <tr>
          <td colspan="9" class="text-center">
        <!--		<div class="pages" st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>-->
          </td>
        </tr>
    </tfoot>
	</table>
