//style sheet for modals
.labe {
  color:#0071C5;
  margin-bottom: 0.25cm;
}

.modalInput {
  width: 370px;
  color: black !important;
}

.tags {

height: 100px;

}

.cat {

color:black;


}
.desc {
color:black;
height: 125px;
width: 568px;
}

.modalMessage {

  //color: #0071c5 !important;
  text-align: center;
}


.modalTextArea {



}
